# Created by https://www.gitignore.io/api/java
build
### Java ###
# Compiled class file
*.class

# Log file
*.log
*.log.*
logs/*

# BlueJ files
*.ctxt

# Orig file from git diff
*.orig

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
/*.pdf
/*.html